<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <title>martAgain - A Social Marketplace</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
    <html xmlns:fb="http://www.facebook.com/2008/fbml">

    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>martAgain</title>
    <div id="fb-root"></div>
    <!-- Script used in post.html -->
    <script type="text/javascript">
        $(document).ready(
            function(){ 
                        $('#interestSubmit').click(function() {
                            var postkey = $('#postkey').val();
                            

                        $.ajax({
                                type:'POST', 
                                url:'/interested', 
                                data:'postkey=' + postkey, 
                                success: function(response) {
                                    $('#interestSubmit').html(response);
                                }
                            });   
                        });
                      }); 


        //function for showing comments on click
        $(document).ready(
            function(){
                $(".showcomment").click(function () {
                    var $toggled = $(this).attr('href');
                    $($toggled).toggle();
                    //$(this).hide();
                  });
        });

        $(document).ready(
            function(){
                $(".showdetail").click(function () {
                    var $toggled = $(this).attr('href');
                    $($toggled).toggle();
                    });
        });

        $(document).ready(
            function(){
                       $('.popup').click(function (event) {
                        event.preventDefault();
                        var w = 300;
                        var h = 300;
                        var left = (screen.width/2)-(w/2);
                        var top = (screen.height/2)-(h/2);
                        window.open($(this).attr("href"), "People who showed Interest", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);

                        //window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
          });
            });

        

      function interestResults(data) {
            alert("It is successful")
          }


        //sending message facebook script
        function facebook_send_message(to, postpermanantlink) {
        FB.ui({
          app_id:'1398507617030667',
          method: 'send',
          link: postpermanantlink,
          to:to,
         });
        }

   
        $('.popup').click(function (event) {
              event.preventDefault();
              window.open($(this).attr("href"), "popupWindow", "width=600,height=600,scrollbars=yes");
          });

</script>
    

  </head>

  <body>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1398507617030667";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">martAgain</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/wishlist">Wishlist</a></li>
              <li><a href="/explore">Explore</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/computers">Computers</a></li>
                  <li><a href="/books">Books</a></li>
                  <li><a href="/bicycles">Bicycles</a></li>
                  <!--
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                   -->
                </ul>
              </li>
              {% if user %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Items<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/myitems">My Items</a></li>
                  <li><a href="/mywishes">My Wishlist</a></li>
                  
                  <!--
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                   -->
                </ul>
              </li>
              {% endif %}
            </ul>
            {% if user %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="/sellitem">Sell-Item</a></li>
              <li><a href="/addwish">Add Wish</a></li>
              
              <li class="active"><a href="/logout">(Logout)</a></li>
            </ul>
            {% else %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="http://www.facebook.com/dialog/oauth?client_id=1398507617030667&redirect_uri=http://localhost:8080/login">Login</a></li>
            </ul>
            {% endif %}
        
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
      <!-- Begin page content Page content should come here-->

      
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted credit">A platform produced by <a href="https://www.facebook.com/jain.sajal">Sajal Jain</a> and 
          <a href="https://www.facebook.com/AgarwalGaurav.iitkgp">Gaurav Agarwal</a>.</p>
      </div>
    </div>
   

    <div class="static-content-about">
       <b>About</b><br/>
          martAgain is the social market place for KGPians where KGPians can buy and sell products and help recycle!<br/> Bon Voyage! 
          <br/><br/>
        <b>Feedback/Queries</b><br/>
    <form method="post" enctype="multipart/form-data" action="/feedback">
        Contact email
        <input type ="email" name="email">{{ email }}</input><br/>
        Please tell us what you feel
        <textarea style="width:180px;" name="feedtext" onchange="checkWordLen(this);">{{detail}}</textarea>
        <br/>      
        <button  type="submit" onclick="javascript:alert('Feedback Sent');">Submit </button>
    </form>

    </div>
    
    
  </body>
</html>
