<div class="post">
<table>
<colgroup>
       <col span="1" style="width: 70%;">
       <col span="1" style="width: 30%;">
</colgroup>
    <thead>
        <tr>
            <th class="name" colspan="2">
				<div class="post-name">
			     {{p.name}}
    		     <small>{{p.created.strftime("%b %d, %Y")}}</small>
				</div>
			</th>
            <th class="details">Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="5" colspan="2">
				<div class="post-avatar">
		  		<img style="height:100px; width:100px;"src="{{ ['img?img_id=',p.key()]|join }}"></img>
				</div>
				<div class="post-content">
        		 {{p.detail}}
    			</div>            
			</td>
            <td><div class="post-content">
      			 {{p.producttype}}
    			</div>	
			</td>
        </tr>
        <tr>
           
            <td>
			<div class="post-content">
		 	{{p.author}}
     		</div>			
			</td>
        </tr>
		<tr>
           
            <td>
			<div class="post-content">
		 	{{p.author}}
     		</div>			
			</td>
        </tr>
		<tr>
           
            <td>
			<div class="post-content">
		 	{{p.author}}
     		</div>			
			</td>
        </tr>
		<tr>
           
            <td>
			<div class="post-content">
		 	{{p.author}}
     		</div>			
			</td>
        </tr>
		
    </tbody>
</table>
</div>
