{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    var wordLen = 255; // Maximum word length
     function checkWordLen(obj){
      var len = obj.value.split(/[\s]+/);
       if(len.length > wordLen){
           alert("You cannot put more than "+wordLen+" words in this text area.");
           obj.oldValue = obj.value!=obj.oldValue?obj.value:obj.oldValue;
           obj.value = obj.oldValue?obj.oldValue:"";
           return false;
       }
     return true;
   }
</script>


  <div class="page-header">
     <h1>Sell Item</h1>
  </div>

    <form method="post" enctype="multipart/form-data">
      <label>
        <p class="lead">Product Type
        <select name="producttype">
         {% for producttype in productseq %}
            <option  value="{{ producttype }}">{{ producttype }}</option>
         {% endfor %}
         </select>
       </p>
      </label>

      <label>
        <p class="lead">Product Name
        <input type ="text" name="name">{{name}}</input>
      </p>
      </label>

	<label>
        <p class="lead">Product Details
        <textarea name="detail" onchange="checkWordLen(this);">{{detail}}</textarea>
      </p>
      </label>

	<label>
	      <p class="lead">Product Images
        <input type="file" name="img"/>
      </p>
	</label>

	<label>
        <p class="lead">Your detail ID is {{ user }} </p>
  </label>

      <div class="error">{{error}}</div>

      <button class="btn btn-large btn-primary btn-block" type="submit">
        Submit
      </button>
    </form>
{% endblock %}
